*{
    // padding: 0px;
    // margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none !important;
}

.topbar{
    background-color: #118acb;
    padding: 10px;

    h1{
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
}

// #wrapper-navbar{
//     background-color: red;
// }
.text-uppercase{
    text-transform: uppercase !important;
}
.navbar{
    display: flex;
}
.navbar-nav{
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-align: center;

    a{
        color: black;
    }
}
.navbar-collapse{
    display: flex;
}
.navbar-rightside{
    padding-top: 20px;
}
.navbar-brand{
    image-orientation: 0deg;
}

