*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.topbar{
    background-color: skyblue;

    h1{
        text-align: center;
        color: aquamarine;
    }
}